/*  .reveal ul li { */
/*     list-style-type: none; */
/*     padding-left: 1.5em; */
/*     background-image: url('checkmark.svg'); */
/*     background-size: 1em; */
/*     background-repeat: no-repeat; */
/* } */

.marquee
{
  width: 100%; height: 100%; white-space: nowrap;
  overflow-style: marquee-block;
  -webkit-marquee-style: scroll;
  -webkit-marquee-speed: fast;
  -webkit-marquee-increment: small;
  -webkit-marquee-block: up;
  -webkit-overflow-style: marquee-block;
  overflow-x: marquee-line;
  marquee-direction: forward;
  marquee-style: scroll;
  marquee-speed: fast;
  marquee-block: up;
} 

#titles
{
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}
#titles:after
{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}

#titlecontent
{
    position: absolute;
    top: 100%;
    animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
