body {
        background-color:#FFFFFF ;
        color: #2e2e2e; 
        font-family: Arial,sans-serif;
	font-size: 10pt;
}


.ttop {
      width: 100%
}

.twi {
    width: 160px;
    vertical-align: top;
}

.ppt {
     width: 900px;
     height: 700px;
     overflow: hidden;
     border: 0;
     border-radius: 15px;
}

hr {
  height: 1px;
  border: none;
  color: inherit;
}

dt {
  margin-left: 0;
}
dd {
  margin-left: 2em;
}

#top {
   width: 100%
}

blockquote {
  margin-left: 2em;
  margin-right: 2em;
}

    nav{	
    display: -webkit-box;
    -webkit-box-orient:horizontal;}

nav ul li {

display: inline; 
}

.XXcol3 {
-moz-column-count: 3;
-webkit-column-count: 3;
-moz-column-gap: 2em;
-webkit-column-gap: 2em;
-moz-column-rule-style: solid;
-moz-column-rule-color: #fff;
-moz-column-rule-width: 2px;
-webkit-column-rule-style: solid;
-webkit-column-rule-color: #fff;
-webkit-column-rule-width: 2px;
}

.flags {
    width: 160px;
    vertical-align: top;
}

.mtab {
    width: 768px;
    vertical-align: top;
}

img { border: 0px;}

input.button {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: #6f6f6f;
  background-color: #ffffdf;
  color: #00007f;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.notes {
  font-size: 85%;
  font-style: italic;
}

#top {
	background-image: url(logo32k.png);
	background-repeat: no-repeat;
	float: none;
	width: 100%;
        height: 90px;
	color: white;
}

#top h1 {
	margin-left: 260px;
	margin-top: 1px;
	font-size: 20pt;
	padding-top: 36px;
	color: blue;
}

#top p {
	text-align: right;	
}
@media screen {
#side {
  position: fixed; /* not working in IE */
  float: left; /* workaround for IE, correctly overridden by "position: fixed" elsewhere */
  top: 16em; /* overriding Opera default of 0 */
  left: 1em; /* ditto */
  width: 160px;
  height: 100%; /* partial workaround for IE, which has an ugly bug causing right side main content to unalign vertically */
  text-align: right;
  font-family: Tahoma, sans-serif;
  font-size: 70%;
}

#side ul {
  margin-left: 0; /* workaround for IE and Opera, where list margins only surrounds the principle boxes of the items within the list */
  margin-right: 0;
  padding-left: 0; /* correct in Mozilla, where list margins surrounds not only the priciple boxes, but also the marker boxes of the items */
  padding-right: 5px;
  list-style-type: none;
/*  list-style-img: */
  font-weight: bold;
}

#side li {
  margin-top: 0; /* overriding Opera default of 3px */
  margin-bottom: 0; /* ditto */
  line-height: 120%; /* workaround for IE, which has a non-standard line height (*@#?!) */
}
}
#menu {
  margin-bottom: 3ex;
  font-size: 14px;
  font-weight: normal;
}
#menu a {
  margin-right: 3px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: blue;
  padding-right: 5px;
  text-decoration: none;
  background-color: inherit;
  color: blue;
}
#menu a:hover {
  margin-right: 0;
  border-right-width: 4px;
}
#menu a.current {
  margin-right: 0;
  border-right-width: 4px;
}
#menu .highlight {
  padding-left: 0.5ex;
  padding-right: 0.5ex;
  background-color: #1f1f9f;
  color: #ffffdf;
}
#menu ul.submenu {
  margin-right: 3px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: blue;
  padding-right: 0;
}
#menu ul.submenu a {
  margin-right: 0;
  border-right-width: 4px;
  border-color: #5f7f9f;
  padding-right: 5px;
  color: #5f7f9f;
}
#menu ul.submenu a:hover {
  margin-right: 0;
  border-color: blue;
}
#menu ul.submenu a.current {
  border-color: blue;
}

#main {
  margin-top: 40px;
  margin-bottom: 0;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  width: auto;
  right: auto;
}


#main h1 {
	color: black;
	font-size: 14pt;
	text-align: left;
}

#main h2 {
	color: black;
	font-size: 10pt;
	text-align: left;
}
/*
#main img {
	vertical-align: text-top;
	float: left;
	margin-right: 20px; 
}
*/
#home {
  margin-top: 40px;
  margin-bottom: 0;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  width: auto;
  right: auto;
}

#leiste img {
/* img {*/
border: 0;
margin-right: 0.25em;
vertical-align: top;
}

#home h1 {
	color: red;
	font-size: 12pt;
	text-align: left;
}

#home h2 {
	color: black;
	font-size: 8pt;
	text-align: left;
}

#home td { padding: 10px; 
	vertical-align: top;
}

.cap
{
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #f0f0f0, #fcfcfc);
    background: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#fcfcfc));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #303030;
    border: 1px solid #e0e0e0;
    border-bottom-width: 2px;
    white-space: nowrap;
    font-family: monospace;
    padding: 1px 6px;
}

.fadein { position:relative; height:282px; width:473px; }
.fadein img { position:absolute; left:0; top:0; }
